<li><a href="{{ path ('admin_categories_list') }}">Mes catégories</a></li>
<li><a href="{{ path ('admin_articles_list') }}">Mes articles</a></li>
<li><a href="{{ path ('app_logout') }}">Deconnexion</a></li>
