{% extends ('front/base.html.twig') %}

{% block content %}

    <h1>
        Bienvenue
    </h1>

    {% for message in app.flashes('message') %}
            <div>
                <p>{{ message }}</p>
            </div>
        {% endfor %}

{% endblock %}